## Numpy and Pandas Assignment

#### Part 1: NumPy Exercises

In [2]:
import numpy as np
import pandas as pd

In [3]:
path = r'D:\DAU\SEM 1\DS605 - Fundamentals of Machine Learning\Lab\Lab03DhruvParmar051\dataset\Titanic-Dataset.csv'
titanic_df = pd.read_csv(path)
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### Array Creation and Manipulation: 
-   Load the Age and Fare columns into two separate NumPy arrays, ages and fares. 
- The ages array has missing values (NaN). Create a new array cleaned_ages where all NaN 
values are replaced with the median age of the passengers. 
-  Create a new array fares_in_euros by converting the fares (which are in British Pounds) to 
Euros. Assume an exchange rate of 1 Pound = 1.18 Euros.

In [5]:
# Load the age and fare columns into two separate Numpy arrays, ages and fares

ages = np.asarray(titanic_df.Age)
fares = np.asarray(titanic_df.Fare)

In [11]:
# The ages array has missing values (NaN). Create a new array cleaned_ages where all NaN 
#  values are replaced with the median age of the passengers. 
cleaned_ages = np.asarray(titanic_df['Age'].fillna(titanic_df['Age'].median()))
print(cleaned_ages)

[22.   38.   26.   35.   35.   28.   54.    2.   27.   14.    4.   58.
 20.   39.   14.   55.    2.   28.   31.   28.   35.   34.   15.   28.
  8.   38.   28.   19.   28.   28.   40.   28.   28.   66.   28.   42.
 28.   21.   18.   14.   40.   27.   28.    3.   19.   28.   28.   28.
 28.   18.    7.   21.   49.   29.   65.   28.   21.   28.5   5.   11.
 22.   38.   45.    4.   28.   28.   29.   19.   17.   26.   32.   16.
 21.   26.   32.   25.   28.   28.    0.83 30.   22.   29.   28.   28.
 17.   33.   16.   28.   23.   24.   29.   20.   46.   26.   59.   28.
 71.   23.   34.   34.   28.   28.   21.   33.   37.   28.   21.   28.
 38.   28.   47.   14.5  22.   20.   17.   21.   70.5  29.   24.    2.
 21.   28.   32.5  32.5  54.   12.   28.   24.   28.   45.   33.   20.
 47.   29.   25.   23.   19.   37.   16.   24.   28.   22.   24.   19.
 18.   19.   27.    9.   36.5  42.   51.   22.   55.5  40.5  28.   51.
 16.   30.   28.   28.   44.   40.   26.   17.    1.    9.   28.   45.
 28.   28.   61.    4.    1.   21.   56.   18.   28.   50.   30.   36.
 28.   28.    9.    1.    4.   28.   28.   45.   40.   36.   32.   19.
 19.    3.   44.   58.   28.   42.   28.   24.   28.   28.   34.   45.5
 18.    2.   32.   26.   16.   40.   24.   35.   22.   30.   28.   31.
 27.   42.   32.   30.   16.   27.   51.   28.   38.   22.   19.   20.5
 18.   28.   35.   29.   59.    5.   24.   28.   44.    8.   19.   33.
 28.   28.   29.   22.   30.   44.   25.   24.   37.   54.   28.   29.
 62.   30.   41.   29.   28.   30.   35.   50.   28.    3.   52.   40.
 28.   36.   16.   25.   58.   35.   28.   25.   41.   37.   28.   63.
 45.   28.    7.   35.   65.   28.   16.   19.   28.   33.   30.   22.
 42.   22.   26.   19.   36.   24.   24.   28.   23.5   2.   28.   50.
 28.   28.   19.   28.   28.    0.92 28.   17.   30.   30.   24.   18.
 26.   28.   43.   26.   24.   54.   31.   40.   22.   27.   30.   22.
 28.   36.   61.   36.   31.   16.   28.   45.5  38.   16.   28.   28.
 29.   41.   45.   45.    2.   24.   28.   25.   36.   24.   40.   28.
  3.   42.   23.   28.   15.   25.   28.   28.   22.   38.   28.   28.
 40.   29.   45.   35.   28.   30.   60.   28.   28.   24.   25.   18.
 19.   22.    3.   28.   22.   27.   20.   19.   42.    1.   32.   35.
 28.   18.    1.   36.   28.   17.   36.   21.   28.   23.   24.   22.
 31.   46.   23.   28.   39.   26.   21.   28.   20.   34.   51.    3.
 21.   28.   28.   28.   33.   28.   44.   28.   34.   18.   30.   10.
 28.   21.   29.   28.   18.   28.   28.   19.   28.   32.   28.   28.
 42.   17.   50.   14.   21.   24.   64.   31.   45.   20.   25.   28.
 28.    4.   13.   34.    5.   52.   36.   28.   30.   49.   28.   29.
 65.   28.   50.   28.   48.   34.   47.   48.   28.   38.   28.   56.
 28.    0.75 28.   38.   33.   23.   22.   28.   34.   29.   22.    2.
  9.   28.   50.   63.   25.   28.   35.   58.   30.    9.   28.   21.
 55.   71.   21.   28.   54.   28.   25.   24.   17.   21.   28.   37.
 16.   18.   33.   28.   28.   26.   29.   28.   36.   54.   24.   47.
 34.   28.   36.   32.   30.   22.   28.   44.   28.   40.5  50.   28.
 39.   23.    2.   28.   17.   28.   30.    7.   45.   30.   28.   22.
 36.    9.   11.   32.   50.   64.   19.   28.   33.    8.   17.   27.
 28.   22.   22.   62.   48.   28.   39.   36.   28.   40.   28.   28.
 28.   24.   19.   29.   28.   32.   62.   53.   36.   28.   16.   19.
 34.   39.   28.   32.   25.   39.   54.   36.   28.   18.   47.   60.
 22.   28.   35.   52.   47.   28.   37.   36.   28.   49.   28.   49.
 24.   28.   28.   44.   35.   36.   30.   27.   22.   40.   39.   28.
 28.   28.   35.   24.   34.   26.    4.   26.   27.   42.   20.   21.
 21.   61.   57.   21.   26.   28.   80.   51.   32.   28.    9.   28.
 32.   31.   41.   28.   20.   24.    2.   28.    0.75 48.   19.   56.
 28.   23.   28.   18.   21.   28.   18.   24.   28.   32.   23.   58.
 50.   40.   47.   36.   20.   32.   25.   28.   43.   28.   40.   31.
 70.   31.   28.   18.   24.5  18.   43.   36.   28.   27.   20.   14.
 60.   25.   14.   19.   18.   15.   31.    4.   28.   25.   60.   52.
 44.   28.   49.   42.   18.   35.   18.   25.   26.   39.   45.   42.
 22.   28.   24.   28.   48.   29.   52.   19.   38.   27.   28.   33.
  6.   17.   34.   50.   27.   20.   30.   28.   25.   25.   29.   11.
 28.   23.   23.   28.5  48.   35.   28.   28.   28.   36.   21.   24.
 31.   70.   16.   30.   19.   31.    4.    6.   33.   23.   48.    0.67
 28.   18.   34.   33.   28.   41.   20.   36.   16.   51.   28.   30.5
 28.   32.   24.   48.   57.   28.   54.   18.   28.    5.   28.   43.
 13.   17.   29.   28.   25.   25.   18.    8.    1.   46.   28.   16.
 28.   28.   25.   39.   49.   31.   30.   30.   34.   31.   11.    0.42
 27.   31.   39.   18.   39.   33.   26.   39.   35.    6.   30.5  28.
 23.   31.   43.   10.   52.   27.   38.   27.    2.   28.   28.    1.
 28.   62.   15.    0.83 28.   23.   18.   39.   21.   28.   32.   28.
 20.   16.   30.   34.5  17.   42.   28.   35.   28.   28.    4.   74.
  9.   16.   44.   18.   45.   51.   24.   28.   41.   21.   48.   28.
 24.   42.   27.   31.   28.    4.   26.   47.   33.   47.   28.   15.
 20.   19.   28.   56.   25.   33.   22.   28.   25.   39.   27.   19.
 28.   26.   32.  ]

In [12]:
"""Create a new array fares_in_euros by converting the fares (which are in British Pounds) to 
Euros. Assume an exchange rate of 1 Pound = 1.18 Euros"""

fares_in_euros = fares * 1.18

Statistical Analysis: 
- Using NumPy, calculate and print the following statistics for the cleaned_ages array: 
-  Average age 
-  Standard deviation 
-  The age of the oldest passenger 
-  The age of the youngest passenger

In [13]:
avg_age = np.mean(cleaned_ages)
print(avg_age)
std_age = np.std(cleaned_ages)
print(std_age)
max_age = np.max(cleaned_ages)
print(max_age)
min_age = np.min(cleaned_ages)
print(min_age)

29.36158249158249
13.012388272793666
80.0
0.42

#### Boolean Indexing and Filtering: 
-  Create a boolean array that is True for passengers who paid a Fare greater than 50 and False 
otherwise. 
-  Use this boolean array to count how many passengers paid more than 50 for their ticket. 
-  Display the ages of these high-paying passengers.

In [15]:
bool_array = fares > 50

count_who_paid_more = bool_array.sum()
print(count_who_paid_more)

show_ages_for_highest_paying_passengers = cleaned_ages[bool_array]
print(show_ages_for_highest_paying_passengers)

160
[38.   35.   54.   19.   28.   28.   42.   49.   65.   38.   45.   21.
 32.   23.   46.   23.   21.   47.   24.   21.   54.   37.   24.   22.
 51.   28.   28.   28.   28.   58.   28.   31.   32.   38.   35.   44.
 37.   28.   30.   35.   52.   58.   35.   63.   26.   19.    2.   50.
  0.92 28.   17.   30.   24.   18.   31.   40.   28.   36.   16.   38.
 28.   29.   41.   24.   22.   60.   24.   25.   22.   28.   27.   42.
 35.   18.   36.   23.   33.   50.   14.   64.    4.   49.   28.   28.
 25.   35.   54.   25.   16.   18.   26.   54.   30.   44.   28.   30.
 36.   50.   17.   28.   39.   53.   39.   39.   18.   60.   52.   49.
 40.   24.   42.   21.   24.   28.   48.   24.   58.   50.   32.   28.
 31.   36.   27.   15.   31.   28.   49.   18.   22.   48.   38.   27.
 29.   35.   36.   21.   70.   19.   48.   33.   36.   51.   43.   17.
 46.   28.   11.   33.   52.   28.   62.   39.   32.   28.   28.   45.
 28.   31.   47.   56.  ]

## Part 2: Pandas Exercises

- Data Loading and Initial Exploration: 
- Load the titanic.csv file into a Pandas DataFrame called df. 
- Display the last 5 rows of the DataFrame. 
- Get a summary of the DataFrame's technical information (column names, data types, non-null 
counts).

In [21]:
df = pd.read_csv(path)
print(df.tail())
print(df.info())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Data Cleaning and Preprocessing: 
-  The Cabin column has many missing values. Drop this column entirely from the DataFrame. 
-  Fill the missing values in the Age column using the mean age. 
-  The Embarked column has a few missing values. Fill them with the mode (the most common 
port of embarkation). 
-  Confirm that your DataFrame now has no missing values in any of the remaining columns.

In [22]:
# The Cabin column has many missing values. Drop this column entirely from the DataFrame. 
df.drop(columns=['Cabin'], inplace=True)

In [ ]:
# Fill the missing values in the Age column using the mean age. 
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [28]:
"""The Embarked column has a few missing values. Fill them with the mode (the most common 
port of embarkation)."""
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [29]:
print(df.isna().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

### Feature Engineering: 
-  Create a new column called FamilySize which is the sum of the SibSp and Parch columns, plus 
1 (to count the passenger themselves). 
-  Create a categorical column called AgeGroup. Bin the Age column into the following groups: 
-  Child: 0-12 
-  Teen: 13-19 
-  Adult: 20-59 
-  Senior: 60+

In [ ]:
"""Create a new column called FamilySize which is the sum of the SibSp and Parch columns, plus 
1 (to count the passenger themselves)"""
df['Family_size'] = df['SibSp'] + 1

In [33]:
"""Create a categorical column called AgeGroup. Bin the Age column into the following groups: 
Child: 0-12 Teen: 13-19 Adult: 20-59 Senior: 60+"""
df['AgeGroup'] = df['Age Group'] = pd.cut(df['Age'],bins=[0, 12, 19, 59, float('inf')],labels=['Child', 'Teenager', 'Adult','Senior'])

### Data Selection and Querying: 
-  Display the Name, Sex, and AgeGroup of all passengers who survived. 
-  Find all female passengers who were in 1st Class (Pclass == 1). 
-  Select all passengers who embarked from Southampton ('S') and paid a fare less than 10.

In [35]:
# Display the Name, Sex, and AgeGroup of all passengers who survived. 
df[df['Survived'] == 1][['Name', 'Sex', 'AgeGroup']]

                                                  Name     Sex  AgeGroup
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female     Adult
2                               Heikkinen, Miss. Laina  female     Adult
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female     Adult
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female     Adult
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  Teenager
..                                                 ...     ...       ...
875                   Najib, Miss. Adele Kiamie "Jane"  female  Teenager
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female     Adult
880       Shelley, Mrs. William (Imanita Parrish Hall)  female     Adult
887                       Graham, Miss. Margaret Edith  female  Teenager
889                              Behr, Mr. Karl Howell    male     Adult

[342 rows x 3 columns]

In [46]:
# Find all female passengers who were in 1st Class (Pclass == 1). 
female_pass_in_1_class = df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]
print(female_pass_in_1_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
31            32         1       1
52            53         1       1
..           ...       ...     ...
856          857         1       1
862          863         1       1
871          872         1       1
879          880         1       1
887          888         1       1

                                                  Name     Sex        Age  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
11                            Bonnell, Miss. Elizabeth  female  58.000000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female  29.699118
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.000000
..                                                 ...     ...        ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.000000
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.000000
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.000000
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.000000
887                       Graham, Miss. Margaret Edith  female  19.000000

     SibSp  Parch    Ticket      Fare Embarked  Family_size  AgeGroup  \
1        1      0  PC 17599   71.2833        C            2     Adult
3        1      0    113803   53.1000        S            2     Adult
11       0      0    113783   26.5500        S            1     Adult
31       1      0  PC 17569  146.5208        C            2     Adult
52       1      0  PC 17572   76.7292        C            2     Adult
..     ...    ...       ...       ...      ...          ...       ...
856      1      1     36928  164.8667        S            2     Adult
862      0      0     17466   25.9292        S            1     Adult
871      1      1     11751   52.5542        S            2     Adult
879      0      1     11767   83.1583        C            1     Adult
887      0      0    112053   30.0000        S            1  Teenager

    Age Group
1       Adult
3       Adult
11      Adult
31      Adult
52      Adult
..        ...
856     Adult
862     Adult
871     Adult
879     Adult
887  Teenager

[94 rows x 14 columns]

In [45]:
# Select all passengers who embarked from Southampton ('S') and paid a fare less than 10.

passengers_embark_s_fare_less_10 =  df[ (df['Embarked'] == 'S') & (df['Fare'] < 10) ]
print(passengers_embark_s_fare_less_10)

     PassengerId  Survived  Pclass                                  Name  \
0              1         0       3               Braund, Mr. Owen Harris
2              3         1       3                Heikkinen, Miss. Laina
4              5         0       3              Allen, Mr. William Henry
12            13         0       3        Saundercock, Mr. William Henry
14            15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
..           ...       ...     ...                                   ...
876          877         0       3         Gustafsson, Mr. Alfred Ossian
877          878         0       3                  Petroff, Mr. Nedelio
878          879         0       3                    Laleff, Mr. Kristo
881          882         0       3                    Markun, Mr. Johann
884          885         0       3                Sutehall, Mr. Henry Jr

        Sex        Age  SibSp  Parch            Ticket    Fare Embarked  \
0      male  22.000000      1      0         A/5 21171  7.2500        S
2    female  26.000000      0      0  STON/O2. 3101282  7.9250        S
4      male  35.000000      0      0            373450  8.0500        S
12     male  20.000000      0      0         A/5. 2151  8.0500        S
14   female  14.000000      0      0            350406  7.8542        S
..      ...        ...    ...    ...               ...     ...      ...
876    male  20.000000      0      0              7534  9.8458        S
877    male  19.000000      0      0            349212  7.8958        S
878    male  29.699118      0      0            349217  7.8958        S
881    male  33.000000      0      0            349257  7.8958        S
884    male  25.000000      0      0   SOTON/OQ 392076  7.0500        S

     Family_size  AgeGroup Age Group
0              2     Adult     Adult
2              1     Adult     Adult
4              1     Adult     Adult
12             1     Adult     Adult
14             1  Teenager  Teenager
..           ...       ...       ...
876            1     Adult     Adult
877            1  Teenager  Teenager
878            1     Adult     Adult
881            1     Adult     Adult
884            1     Adult     Adult

[245 rows x 14 columns]

### Grouping and Aggregation (Groupby): 
-  What was the average age of passengers who survived versus those who did not? (Hint: Group 
by the Survived column). 
-  Group the DataFrame by Pclass and Sex. For each group, calculate the survival rate (the mean 
of the Survived column). This will show you the survival probability for men and women in 
each class.

In [ ]:
"""What was the average age of passengers who survived versus those who did not? (Hint: Group 
by the Survived column)."""
pass_grouped_by_survived = df.groupby('Survived')['Age'].mean()
print(pass_grouped_by_survived)

Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

In [50]:
"""Group the DataFrame by Pclass and Sex. For each group, calculate the survival rate (the mean 
of the Survived column). This will show you the survival probability for men and women in 
each class."""

prob_survival_based_on_Pclass_Sex = df.groupby(['Pclass', 'Sex'])['Survived'].mean()
print(prob_survival_based_on_Pclass_Sex)

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

### Exporting the Final DataFrame: 
- Save your final, cleaned DataFrame with the new FamilySize and AgeGroup columns to a new 
CSV file named titanic_processed.csv. Do not include the pandas index in the file.

In [54]:
df.to_csv(r'D:\DAU\SEM 1\DS605 - Fundamentals of Machine Learning\Lab\Lab03DhruvParmar051\assignment\titanic_processed.csv', index=False)